* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FDF5F5;

}

.navegacao {
    background-color: black;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
}

.logo nav {
    background-color: blue;
    width: 800px;

}

.logo nav ul {
    display: flex;
    flex-direction: row;
}

.logo ul li {
    justify-content: space-between;
}

.logo i {
    font-size: 2rem;
    transition: .5s;
    color: white;
}

.logo i:hover {
    color: red;
}

.logo img {
    width: 50%;
    padding: 1rem 0;
    margin-left: 0%;
}

.navegacao nav {
    display: flex;
}

.container {
  
    min-height: 90vh;
    width: 90%;
    margin: 3% auto;

}

span#burger {
    display: inline;
    top: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    position: absolute;
    padding: 10px;
    color: white;
    cursor: pointer;
}
i{
    cursor: pointer;
}
span#burger:hover {
    color: rgb(238, 238, 238);
}

menu {
    display: none;
}

menu>ul {
    list-style-type: none;
    text-align: center;
    background-color: #990000;
}

menu>ul>li>a {
    width: 100%;
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
    text-align: center;

}

menu>ul>li>a:hover {
    background-color: rgb(192, 11, 11);
}

.container-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.2rem;

}


.card-filme {
    background-color: #580202;
    max-width: 230px;
    height: 300px;
    box-sizing: border-box;
    opacity: .9;
    font-size: 1rem;
    border-radius: .4rem;
    transition: .6s;
    overflow: hidden;

}

.card-filme:hover {
    opacity: 1;
    box-shadow: .3em 3px 6px #235661;
    background-color: #3d0202;
    transition: .6s;


}

.card-filme h3 {
    color: white;
    margin-left: 4%;
    margin-bottom: .3rem;
    font-size: 1.2rem;
    z-index: 1;


}


.card-filme:hover img {
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 0;
    padding: 0;
    transform: scale(1.3);
    z-index: -1;
    transition: 1s;

}




.card-filme a {
    text-decoration: none;
    color: #161718;
}

.card-filme img {
    width: 100%;
    height: 88%;
    border-top-right-radius: .4rem;
    border-top-left-radius: .4rem;
    transition: .6s;


}



.info-filme {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 1 !important;
    color: white;

}

.info-filme i,
.info-filme h3 {
    font-size: 1.2rem;

}
.concluida{
 color: green;
}
.info-filme div {
    margin-right: .8%;
}

.botoes {
    margin-top: .6rem;
    display: grid;
    width: 100%;
}

.botoes p {
    text-align: center;
    color: black;
    font-size: 2rem;
}

.btn {
    text-align: center;
    background-color: red;
    width: 100%;
    padding: .6rem 0;
    border-radius: .6rem;
    opacity: .8;
    transition: .6s;
    text-decoration: none;
}
.active{
    background-color: rgba(0, 0, 0, 0.562);
}

.btn:hover {
    background-color: black;
    opacity: 1;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]:after {
    display: none;
    position: absolute;
    padding: 5px;
    bottom: 2rem;
    right: 0rem;
    border-radius: 3px;
    content: attr(data-tooltip);
    white-space: nowrap;
    font-size: 1.2rem;
    background-color: rgb(12, 12, 12);
    color: rgb(250, 244, 244);
}

[data-tooltip]:hover:after {
    display: block;
}

footer {
    text-align: center;
    padding: 1.2rem;
    background-color: black;
    color: #fff;

}

.info-mobile {
    display: none;
}
.edit-botoes  .btn-atualizar, .edit-botoes .btn-del{
    margin-top: 1rem;
    border: none;
    padding: .4rem;
    opacity: .8;
    cursor: pointer;
    border-radius: .5rem;
    width: 100%;
}
.edit-botoes .btn-atualizar{
    background-color: red;
    color: white;
    font-size: 1.2rem;
}
.edit-botoes .btn-del{
    background-color: #000;
    color: white;
    font-size: 1.2rem;
}
.edit-botoes  .btn-atualizar:hover, .edit-botoes .btn-del:hover{
    opacity: 1;
}

@media screen and (min-width: 800px) {
    span#burger {
        display: none;
    }

    menu {
        display: inline;
    }

    menu>ul>li {
        display: inline-block;

    }

    menu>ul>li>a {
        text-align: left;
    }

    main {
        width: 768px;
    }
}

@media screen and (max-width: 1025px) {
    .container-card {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }


    .home-area {
        display: block;
    }

    .home-area img {
        margin-top: 2rem;
    }

}

@media screen and (max-width: 800px) {
    menu>ul>li>a {
        border: 1px solid black;
    }
   
    .logo img{
      width: 50%;
      margin-top: .1rem;
      margin-left: 8%;
    }
    
}

@media screen and (max-width: 780px) {
    .container-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }
    .logo img{
        margin-left: 4%;
        margin-top: .2rem;
    }


}

@media screen and (max-width: 580px) {

    header {
        width: 100%;
    }

    .container {
        margin: 0 auto;

    }

    span#burger {
        margin-left: 0;
        margin-top: .8rem;
    }

    .logo img {
        width: 60%;
        margin-top: .1rem;

    }

    [data-tooltip]::after {
        left: 5%;
        bottom: 20px;
        padding: .8rem;

    }

    .card-filme:hover img {
        padding: 0;
        border-radius: 0 !important;
    }

    .container-card {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);


    }

    .card-filme {
        margin: 0;
        width: auto;
        height: 150px;
        margin-bottom: 1rem;
    }

    .card-filme img {
        height: 100%;
        padding: 0;
        border-bottom-right-radius: .4rem;
        border-bottom-left-radius: .4rem;
    }

    .info-filme h3 {
        display: none;
    }

    .info-filme {
        display: block;
        margin-top: -3rem;
        text-align: end;
        padding: .4rem;

    }

    .info-filme i {
        font-size: 1.4rem;
        color: white;
    }
}

@media screen and (max-width: 380px) {


    .container-card {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);


    }

    .logo img{
        width: 40%;
        margin-left: 6%;
        margin-top: .5rem;
    }
    .card-filme {
        width: 100%;
        height: 200px;
    }

}