* {
    margin: 0;
    padding: 0;
    color: aliceblue;
    box-sizing: border-box !important;
}

body {
    background-color: #ece9e9;
    background-size: cover;
}

.navegacao {
    background-color: black;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 6%;
}

.logo i {
    font-size: 2rem;
    transition: .5s;
}

.logo i:hover {
    color: red;
}

.logo img {
    width: 50%;
    padding: 1rem 0;
}

.navegacao nav {
    background-color: red;
    justify-content: space-between;
    text-align: center;
    padding: .6rem;
}

.navegacao nav a {
    color: black;
    margin: 0 3%;
}

.container {
    padding: 1rem;
    width: 86%;
    margin: 2% auto;

}

.container-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
    justify-content: center;
    align-items: center;

}

.card-filme {
    background-color: #0a0a0a;
    max-width: 200px;
    height: 270px;
    box-sizing: border-box;
    margin: 1rem;
    opacity: .9;
    font-size: 1rem;
    border-radius: .4rem;
    transition: .6s;
}

.card-filme img {
    width: 100%;
    height: 100%;
    transition: .6s;
}

.card-filme:hover {
    opacity: 1;
    box-shadow: .3em 3px 6px #235661;
    transition: .6s;
}

.card-filme h3 {
    color: white;
    margin-left: 4%;
    margin-bottom: .3rem;
    font-size: 1.2rem;


}

.card-filme:hover {
    background-color: #990000;
}

.card-filme:hover img {
    padding: 8%;
    box-sizing: border-box;
    border-radius: 1.4rem !important;

}

.card-filme:hover .info-filme {
    border-top: 1px solid #fff;
    margin-bottom: 1rem;
    padding-top: .2rem;
}


.card-filme a {
    text-decoration: none;
    color: #161718;
}

.card-filme img {
    width: 100%;
    max-height: 230px;
    border-top-right-radius: .4rem;
    border-top-left-radius: .4rem;

}

.card-filme,
.info-filme {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

}

.info-filme i {
    font-size: 1.2rem;
}

.info-filme div {
    margin-right: .8%;
}

.botoes {
    margin-top: .6rem;
    display: grid;
    width: 100%;
}

.botoes p {
    text-align: center;
    color: black;
    font-size: 2rem;
}

.btn {
    text-align: center;
    background-color: red;
    width: 100%;
    padding: .6rem 0;
    border-radius: .6rem;
    opacity: .8;
    transition: .6s;
    text-decoration: none;
}

.btn:hover {
    background-color: black;
    opacity: 1;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]:after {
    display: none;
    position: absolute;
    padding: 5px;
    border-radius: 3px;
    content: attr(data-tooltip);
    white-space: nowrap;
    font-size: 1rem;
    background-color: rgb(12, 12, 12);
    color: red;
}

[data-tooltip]:hover:after {
    display: block;
}

footer {
    text-align: center;
    padding: 1.2rem;
    background-color: black;
    color: #fff;

}

@media screen and (max-width: 900px) {
    .container-card {
        display: grid;
        grid-template-columns: repeat(auto-fill, 190px);

    }


    .home-area {
        display: block;
    }

    .home-area img {
        margin-top: 2rem;
    }

}

@media screen and (max-width: 500px) {
    .container-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .card-filme {
        height: 200px;
    }

    .card-filme img {
        border-bottom-right-radius: .4rem;
        border-bottom-left-radius: .4rem;
    }

    .info-filme {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    .container-card{
        margin: 0 auto;
    }
    .card-filme{
        width: 70%;
        height: 130px;
    }
  
}