* {
    margin: 0;
    padding: 0;
    color: aliceblue;
}

body {
    background-image: url(../imagens/newcapahome.jpeg);
    background-size: cover;
}

.navegacao {
    background-color: black;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 6%;
}

.logo i {
    font-size: 2rem;
    transition: .5s;
}

.logo i:hover {
    color: red;
}

.logo img {
    width: 50%;
    padding: 1rem 0;
}

/* .navegacao nav{
    background-color: red;
    justify-content: space-between;
    text-align: center;
    padding: .6rem;
}
.navegacao nav a{
    color: black;
    margin: 0 3%;
} */
.container {
    padding: 2rem;
    width: 85%;
    margin: 3% auto;

}

.home-area {

    display: grid;
    grid-template-columns: 40% 60%;


}

.home-area img {
    margin-left: 10%;
    width: 80%;
}

.home-area h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    /* -webkit-text-stroke: 2px #070606; */
}

.home-area h3 {
    color: black;
    font-size: 1.5rem;
    text-align: justify;
}

.botoes {
    margin-top: .6rem;
    display: grid;
    width: 100%;
}

.botoes p {
    text-align: center;
    color: black;
    font-size: 2rem;
}

.btn {
    text-align: center;
    background-color: red;
    width: 100%;
    padding: .6rem 0;
    border-radius: .6rem;
    opacity: .8;
    transition: .6s;
    text-decoration: none;
}

.btn:hover {
    background-color: black;
    opacity: 1;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]:after {
    display: none;
    position: absolute;
    padding: 5px;
    border-radius: 3px;
    content: attr(data-tooltip);
    white-space: nowrap;
    font-size: 1rem;
    background-color: rgb(12, 12, 12);
    color: red;
}

[data-tooltip]:hover:after {
    display: block;
}

footer {
    text-align: center;
    padding: 1.2rem;
    background-color: black;
    color: #fff;

}

@media screen and (max-width: 900px) {
    .home-area {
        display: block;
    }

    .home-area img {
        margin-top: 2rem;
    }

}