* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    background-image: url(../imagens/newcapa.jpeg);
    background-size: cover;
    background-attachment: fixed;
    overflow: visible;

}

.container-login {
    width: 88%;
    display: grid;
    margin: 4% auto;
    grid-template-columns: 1fr 1fr;



}

.login-logo {
    display: grid;
    justify-content: center;
   margin-top: 35%;

}





.login-logo img {
    width: 80%;
}

.form-login {
    background-color: rgba(0, 0, 0, 0.842);
    padding: 30px;
    border-radius: .5rem;
    border: 1px solid #fff;
    box-sizing: border-box;
    flex-flow: column nowrap;
    justify-content: stretch;
    color: white;
    width: 80%;
    margin-left: 10%;
}

.form-login h2 {
    font-size: 1.5rem;
    letter-spacing: 4px;
    margin-bottom: 12%;
    color: #fff;
    text-transform: uppercase;
    font-family: 'mogra',Arial, Helvetica, sans-serif;
}
.form-login p{
    font-family: 'mogra',Arial, Helvetica, sans-serif;
}

.form-login label {
    font-size: 1rem;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'mogra',Arial, Helvetica, sans-serif;
}

.form-login input {
    width: 100%;
    background-color: #ffffff8a;
    padding: .6rem;
    border: none;
    color: #fff;
    border-bottom: 1px solid white;
    margin-bottom: 2rem;
    margin-top: 2%;
    border-radius: .6rem;
}

input:focus {
    color: #000;
}


.form-login input[type=submit] {
    background-color: #E51414;
    color: white;
    border-radius: .6rem;
    cursor: pointer;
    margin: 1rem 0;
    opacity: .8;
    border: none;
    font-size: 1.4rem;
    transition: .6s;
    padding: .4rem;
    margin-bottom: 10%;
    font-family: 'mogra',Arial, Helvetica, sans-serif;

}

.form-login input[type=submit]:hover {
    opacity: 1;
}

input:focus {
    outline: none;
}



.form-login a {
    color: #fff;
    text-decoration: none;
    transition: .6s;
}

.form-login a:hover {
    color: #E51414;
}
.not-conter{
    margin-top: 10%;
}
.sucesso{
  color: green;
}
.error{
    color: red;
}
@media screen and (max-width: 900px) {
   
    body {
        background-size: cover;
        background-color: blue;
    }
    .login-logo {
      margin-top: 8%;
    }
    
    .container-login {
        margin-top: 0 !important;
        display: block;
        border-radius: 1rem;
    }
   
    .login-logo {
        display: block;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom: 1px solid rgb(252, 5, 5);
        text-align: center;
    }

    .login-logo img {
        width: 300px;
    }

    .form-login {
        border-radius: 0;
        margin: 0;
        border: none;
        width: 100%;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .login-logo {
        margin-top: 0;
      }
      
    .login-logo img {
        width: 50%;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: black;
        background-size: cover;

    }

    .form-login,
    .login-logo {
        border-radius: 0;
    }

    .container-login {
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 0;
        border: none;
    }

    .form-login {
        margin: 0;
        height: 100vh;
        width: 100%;
        display: block;
    }
}